<div class="section no-pad-bot">
	<div class="container">
		<div class="section white">
<%= form_with model: @cliente, local: true do |form| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@cliente.errors.count, "error") %> prohibited
        this cliente from being saved:
      </h2>
      <ul>
        <% @cliente.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :Nome %><br>
    <%= form.text_field :Nome%>
  </p>

  <p>
    <%= form.label :CPF %><br>
    <%= form.text_field :CPF, 'data-mask':"000.000.000-00", placeholder:"000.000.000-00"%>
  </p>
  <p>
    <%= form.label :Email %><br>
    <%= form.text_field :Email%>
  </p>

  <p>
    <%= form.label :Endereco %><br>
    <%= form.text_field :Endereco, 'data-mask':"Quadra 000 Conjunto 09 Casa 09", placeholder:"Quadra 000 Conjunto 09 Casa 09"%>
  </p>

  <p>
    <%= form.label :Data_de_Nascimento %><br>
    <%= form.text_field :Data_de_Nascimento, 'data-mask':"09/09/0000", placeholder:"09/09/0000"%>
  </p>

  <p>
    <%= form.label :Status %><br>
    <%= select(:cliente, :Status, [['Ativo', 'Ativo'], ['Aguardando pagamento', 'Aguardando pagamento'], ['Cancelado', 'Cancelado']], selected: 'Aguardando pagamento')%>
  </p>

  <p>
  <%= submit_tag "Submeter dados" %>
  </p>
<% end %>
</div>
</div>
</div>
