
<p>
  <strong>Nome:</strong>
  <%= @cliente.Nome %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @cliente.CPF %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cliente.Email %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @cliente.Endereco %>
</p>

<p>
  <strong>Data_de_Nascimento:</strong>
  <%= @cliente.Data_de_Nascimento %>
</p>

<p>
  <strong>Status:</strong>
  <%= @cliente.Status %>
</p>
<script>
  $(function(){
    $(".0").hide();
    $(".1").hide();
  })
</script>

<script>
    $(function() {
        $("#0").click(function(){
            $(".0").slideToggle();
        })
    })
</script>

<button id="0" type="button">Ver/Esconder pacotes</button>

<h2 class="0">Pacotes</h2>
<%= render @cliente.pacotes %>

<script>
  $(function() {
    $("#1").click(function(){
      $(".1").slideToggle();
    })
  })
</script>

<button id="1" type="button">Novo Pacote</button>

<h2 class="1">Seja sócio:</h2>
<%= render 'pacotes/form' %>

<%= link_to 'Editar dados' , edit_cliente_path(@cliente) %>
<%= link_to 'Voltar', clientes_path %>
