<nav>
  <div class="nav-wrapper">
    <div class="col s12">
      <%= link_to 'Home', {controller: 'welcome'}, class: 'breadcrumb'%>
      <%= link_to 'Patrocinadores', clientes_path, class: 'breadcrumb'%>
      <%= link_to 'Info' , cliente_path(@cliente), class: 'breadcrumb'%>
    </div>
  </div>
</nav>
<p>
  <strong>Nome:</strong>
  <%= @cliente.Nome %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @cliente.CPF %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cliente.Email %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @cliente.Endereco %>
</p>

<p>
  <strong>Data_de_Nascimento:</strong>
  <%= @cliente.Data_de_Nascimento %>
</p>

<p>
  <strong>Status:</strong>
  <%= @cliente.Status %>
</p>

<%= link_to 'Editar dados' , edit_cliente_path(@cliente), class:'waves-effect waves-light btn-small'%><br><br>

<script>
  $(function(){
    $(".0").hide();
      var hidden = true;
    $(".1").hide();
        $("#0").click(function(){
            if (hidden) {
                $(".0").slideDown();
                $("#0").text("Esconder pacotes");
                hidden = false;
            }
            else{
                $(".0").slideUp();
                $("#0").text("Ver pacotes");
                hidden = true;
            }
        })
    })
</script>

<button id="0" type="button" class="waves-effect waves-light btn-small">Ver pacotes</button>

<h2 class="0">Pacotes</h2>
<%= render @cliente.pacotes %>

<script>
  $(function() {
    $("#1").click(function(){
      $(".1").slideToggle();
    })
  })
</script>

<button id="1" type="button" class="waves-effect waves-light btn-small">Novo Pacote</button>

<h2 class="1">Seja sócio:</h2>
<%= render 'pacotes/form' %>
