<%= form_with(model: [ @cliente, @cliente.pacotes.build ], local: true) do |form| %>

  <script>
    $(function () {
        $("#pagamento").mask("#.##0,00",{reverse: true, placeholder: "10.000,00"});
    })
  </script>

  <p class="1">
    <%= form.label :Pagamento %><br>
    <%= form.text_field :Pagamento, id:"pagamento"%>
  </p>
  <p class="1">
    <%= form.label :Plano %><br>
    <%= select(:pacote, :Plano, [['fã de Zelda', 'fã de Zelda'], ['fã de Link', 'fã de Link'], ['fanático pelo time', 'fanático pelo time']]) %>
  </p>
  <p class="1">
  <%= submit_tag "Comprar pacote" %>
  </p>
<% end %>
